<div class='row'>
    <div class='col-md-12'>
        <% @rooms.each do |room| %>
            <div class='room'>
                <img src="http://placehold.it/350x250">
                <h1><%= room.title %></h1> 
                <p>Private - 1 guest - <%= pluralize(rand(1..15),'review') %></p>
            </div>
        <% end %>
    </div>
</div>