/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require rails_bootstrap_forms
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  margin-top: 100px;
  margin-bottom: 20px;
}

main {
  margin-top: 4em;
}

#logo img {
  margin-top: 5px;
}

#user_location {
  width: 100%;
  margin: 0.5em 0 1em 0;
  padding: 5px 0 5px 15px;
}

#geocomplete-map {
  height: 400px;
}

#userimg {
  height: 40px;
  position: relative;
  top: -5px;
}

.nav.navbar-nav.navbar-right {
  margin-top: 10px;
}

.user_profile {
  margin-right: 30px;
}

.room_index_page {
  margin-bottom: 20px;
}

.room_index_img img {
  height: 200px;
}

.icon-note.report {
  color: rgb(160,160,160);
  margin-bottom: 40px;
}

.col-md-3.superhost {
  margin-left: -28px;
}

.col-md-2.reviews {
  height: 50px;
  width: 50px;
  background-color: rgb(255,178,102);
  border-bottom: 25px solid rgb(255,153,51);
  padding-top: 15px;
  margin-left: -50px;
  margin-right: 130px;
}

.col-md-2.reviews p {
  position: relative;
  left: 45px;
}

.verified {
  margin-left: -45px;
}

.verified-info {
  border-style: solid;
  border-color: rgb(192,192,192);
  margin-top: 20px;
}



.about {
  border-style: solid;
  border-color: rgb(192,192,192);
  margin-top: 20px;
}

.verified-info p {
  height: 40px;
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 0px;
}

.verified-infop {
  background-color: rgb(192,192,192);
  margin-top: 20px;
}

.about p {
  height: 40px;
  padding-left: 20px;
  padding-top: 10px;
}

.aboutp {
  background-color: rgb(192,192,192);
}

.icon-check {
  float: right;
  position: relative;
  top: -40px;
  right: 20px;
}

.icon-magnifier {
  color: white;
  margin-right: 10px;
}

.search_box_span {
  margin-top: 12px;
}

.search_box {
  float: right;
}

#room_index_userimg {
  border-radius: 50%;
}

.carousel-inner.room_index_page .item img {
  height: 200px;
}

.carousel-inner .item img {
    height: 300px;
    margin: auto;
}

.review_show_created_at {
  color: rgb(160,160,160);
}

#review_ownerimg {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-right: 10px;
}

.report_btn{
  color: rgb(192,192,192);
}

.helpful_btn {
  color: rgb(255,255,255);
  background-color: rgb(0,200,0);
}

.unhelpful_btn {
  color: rgb(255,255,255);
  background-color: rgb(200,0,0);
}

.unhelpful_btn,
.report_btn,
.helpful_btn,
.delete_review {
  float: right;
  margin-right: 5px;
  margin-left: 5px;
}

.show_room_info {
    padding: 0px;
}

.room_show_price {
  margin-top: 20px;
}