.roomname {
    white-space: nowrap;
    width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-md-12.review {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
    margin-top: 50px;
    
}

.room_edit_view_title {
    text-align: center;
}

.room_ownerimg {
    margin: 0px, 5px, 0px, 5px;
    padding-top: 20px;
}

#room_ownerimg {
    width: 95px;
    height: 95px;
}

.room_form_submit_btn {
    margin-top: 20px;
    margin-bottom: 20px;
}
