.roomname {
    white-space: nowrap;
    width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-md-12.review {
    position: relative;
    left: -30px;
    margin-bottom: 20px;
    margin-top: 50px;
    
}

.room_edit_view_title {
    text-align: center;
}



.room_form_submit_btn {
    margin-top: 20px;
    margin-bottom: 20px;
}