<%= content_tag :div, class: 'media', id: "reviews-#{review.room.id}" do %>
    <div class='col-md-10'>
        <%= review.body %>
    </div>
    <div class='col-md-2'>
        <%= link_to "Delete Review", [review.room, review], method: :delete, class: 'btn btn-danger' %>
    </div>
<% end %>